<nav class="flex justify-center">
    <div class="flex items-center justify-between w-full max-w-[1200px] py-4 px-5">
        <div>
            <img src="/assets/envios-logo.png" alt="" />
        </div>
        <div class="flex items-center">
            <li *ngFor="let item of menu"
                class="font-semibold list-none hover:underline hover:decoration-rose-500 hover:decoration-2 hover:underline-offset-4 mr-10 last:mr-0">
                <a [routerLink]="[item.route]">
                    {{ item.name }}
                </a>
            </li>
            <a *ngIf="!token" routerLink="/login" class="btn btn-sm btn-outline btn-primary capitalize">Acceder</a>
            <button *ngIf="token" (click)="logout()"
                class="btn btn-sm btn-outline btn-primary capitalize">Salir</button>
        </div>
    </div>
</nav>