<app-header></app-header>

<div class="flex justify-center">
  <div class="flex items-center justify-between w-full max-w-[1200px] py4- px-4">
    <div>
      <img src="/assets/cover-image.png" alt="" />
    </div>
    <div class="max-w-md text-center">
      <p class="text-3xl font-semibold">
        ¿Quienes somos?
      </p>
      <br>
      <p class="text-2xl font-semibold">
        Somos una empresa <span class="text-rose-500"> 100% Peruana</span> con la finalidad de sastisfacer la necesidad
        de
        un servicio de envio rapido y seguro.
      </p>
    </div>
    <div>