<nav class="flex justify-center">
  <div
    class="flex items-center justify-between w-full max-w-[1200px] py-4 px-5"
  >
    <div>
      <img src="/assets/envios-logo.png" alt="" />
    </div>
    <div class="flex items-center">
      <li
        *ngFor="let item of menu"
        class="font-semibold list-none hover:underline hover:decoration-rose-500 hover:decoration-2 hover:underline-offset-4 mr-10 last:mr-0"
      >
        <a [routerLink]="[item.route]">
          {{ item.name }}
        </a>
      </li>
      <a
        routerLink="/login"
        class="btn btn-sm btn-outline btn-primary capitalize"
        >Acceder</a
      >
    </div>
  </div>
</nav>

<div class="flex justify-center">
  <div class="flex items-center justify-center w-full max-w-[1200px] py-5 px-5">
    <div class="block p-6 rounded-lg shadow-lg bg-white w-full max-w-sm">
      <form [formGroup]="loginForm">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Usuario</span>
          </label>
          <input
            formControlName="username"
            required="required"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label>
          <input
            type="password"
            formControlName="password"
            required="required"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <button (click)="__onSubmit()" class="btn btn-block btn-primary mt-5" [class.loading]="loginLoading">
          {{ loginLoading ? "Cargando" : "Entrar"}}
        </button>      
      </form>
      ¿No tienes una cuenta?
      <a routerLink="/registro" class="btn btn-active btn-link">Regístrate</a>
    </div>
  </div>
</div>
