<app-header></app-header>

<div class="flex justify-center">
  <div
    class="flex items-center justify-between w-full max-w-[1200px] py-5 px-5"
  >
    <div>
      <img src="/assets/cover-image.png" alt="" />
    </div>
    <div class="max-w-md text-center">
      <p class="text-3xl font-semibold">
        Envia a todo <span class="text-rose-500">Lima Metropolitana</span> con
        nuestros servicios
      </p>
      <button class="btn btn-primary mt-5">Conocer servicios</button>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div
    class="flex items-center justify-between w-full max-w-[1200px] py-5 px-5"
  >
    <div class="max-w-md">
      <span class="text-3xl text-rose-500 font-semibold"
        >Es fácil solicitar un envio</span
      >
      <p class="mt-4">
        Completa el formulario detallando la información del producto que
        enviarás
      </p>
      <button class="btn btn-primary mt-5">Enviar ahora</button>
    </div>
    <div>
      <img src="/assets/mobile-phone.png" alt="" />
    </div>
  </div>
</div>

<footer class="flex items-center justify-center bg-[#3D3838] h-16">
  <span class="text-xs text-white"
    ><span class="font-semibold">Envios</span> todos los derechos reservados
  </span>
</footer>
